<IfModule mod_rewrite.c>
	
	RewriteEngine On
	RewriteBase /
	
	# Set variable to the current installation route
	# so all redirects can perform with this
	# if the .htaccess is installed in a sub-directory
	# all redirects should also work!
	# The variable will contain the current subdirectory
	# of the htaccess
	RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
	RewriteRule ^(.*) - [E=BASE:%1]
	
	#--------------------------------
	#--------Common Redirects--------
	#--------------------------------
	
	# Redirect to domain with www but allow subdomains
	RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
	RewriteCond %{HTTPS}s ^on(s)|
	RewriteRule ^ http%1://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
	
	# Add slash if there is no at the end
	RewriteCond %{REQUEST_URI} !(/$|\.) 
	RewriteRule (.*) %{REQUEST_URI}/ [R=301,L]
	
	# Remove double slashes in all URLs
	RewriteCond %{THE_REQUEST} ^[A-Z]+\ /(([^/\ ]+/)*)/+([^\ ]*)
	RewriteRule ^ /%1%3 [L,R=301]
	
	#--------------------------------
	#------Simluate Directories------
	#--------------------------------
	
	# Redirect to URI without front controller to prevent duplicate content
	RewriteCond %{ENV:REDIRECT_STATUS} ^$
	RewriteRule ^index\.php(/(.*)|$) %{ENV:BASE}/$2 [R=301,L]
	
	# If the requested filename exists, simply serve it.
	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule .? - [L]
	
	# Rewrite all other queries to the front controller.
	RewriteRule .? %{ENV:BASE}/index.php [L]
</IfModule>